/* Fonts ----------------------------------------------------------*/

@font-face {
    font-family: scary;
    src: url(fonts/scary.ttf);
}


/* HTML tags ----------------------------------------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 110px;
}

li {
    float: right;
    font-family: scary;
    font-size: 18px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    margin-top: 10px;
    opacity: 0.8;
}

li a:hover {
    color: #800606;
}

body {
    background-image: url("img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: scary;
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: -10px;
    margin-top: -10px;
    opacity: 0.8;
}

h2 {
    font-family: scary;
    color: white;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    opacity: 0.8;
}

button {
    font-family: scary;
    background-color: #800606;
    height: 10%;
    border-radius: 5px;
    border: 0ch;
    font-size: 18px;
    text-align: center;
    color: white;
    opacity: 0.7;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}


/* Home Page ----------------------------------------------------------*/

.body_text {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 15%;
}

.button_div {
    text-align: center;
    margin-top: 20px;
}


/* Home Page ----------------------------------------------------------*/

#form1 {
    color: white;
    font-family: scary;
    text-align: left;
    margin-left: 30px;
    opacity: 0.8;
}

label {
    color: white;
    font-family: scary;
}

select {
    font-family: scary;
    background-color: #800606;
    width: 14%;
    height: 10%;
    border-radius: 5px;
    border: 0ch;
    font-size: 10px;
    text-align: center;
    color: white;
    opacity: 0.8;
    margin-top: 20px;
    margin-left: 10px;
}

.submit_button {
    font-family: scary;
    background-color: #800606;
    width: 14%;
    height: 6%;
    border-radius: 5px;
    border: 0ch;
    font-size: 14px;
    text-align: center;
    color: white;
    opacity: 0.7;
    margin-top: 10px;
}

#threshold_table {
    font-size: 12px;
}

#random_table {
    color: white;
    opacity: 0.8;
    font-family: scary;
    font-size: 12px;
}